ASDA2_GAME_ADDR=0.0.0.0:5100
ASDA2_PUBLIC_IP=127.0.0.1
ASDA2_GAME_PORT=5100
ASDA2_CHANNEL=0
ASDA2_SERVER_ID=game-channel-0
ASDA2_RELAY_ADDR=127.0.0.1:5200
ASDA2_NPCSERVER_ADDR=
ASDA2_DEBUG_VISIBILITY=1
ASDA2_BASE_STATS_DIR=../BaseStats
ASDA2_BASE_STATS_RESEED=0
ASDA2_WORLD_DATA_DIR=data/asda2
